Package: enigma2-plugin-cocy
Version: 0.1.3
Description: UPnP Renderer
Section: base
Priority: optional
Maintainer: Michael Lipp <mnl@mnl.de>
License: GPL
Architecture: mipsel
OE: enigma2
Homepage: https://github.com/mnlipp/CoCyEnigma2
Depends: python-db, python-subprocess, python-xmlrpc, python-json, python-email, python-image, python-audio, python-multiprocessing, python-compile, python-dev, python-compression, python-distutils, python-sqlite3,  python-zlib, python-mutagen, python-unittest
Source: https://github.com/mnlipp/CoCyEnigma2/archive/master.zip
